:root {
  --bg-primary: #181818;
  --bg-glass: rgba(255, 255, 255, 0.05);

  --color-border: rgba(255, 255, 255, 0.1);

  --text-primary: #ffffff;
  --text-secondary: rgba(235, 235, 235, 0.64);  

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-secondary);
  background: var(--bg-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Ubuntu,
    Cantarell,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}